<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware.plugin.batteryconsumption"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aware"
        tools:replace="android:icon, android:theme">

        <service
            android:name="com.aware.plugin.batteryconsumption.Plugin"
            android:exported="true" />
        <activity
            android:name="com.aware.plugin.batteryconsumption.Settings"
            android:exported="true"
            android:theme="@style/Theme.Aware" />
        <provider
            android:name="com.aware.plugin.batteryconsumption.Provider"
            android:authorities="com.aware.plugin.batteryconsumption.provider.batteryconsumption"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA" />

        <receiver android:name=".Plugin$BatteryReader">
            <intent-filter>
                <action android:name="ACTION_AWARE_PLUGIN_BATTERY_CONSUMPTION_READ"/>
            </intent-filter>

        </receiver>

    </application>

</manifest>